body {
  margin: 0;
  font-family: sans-serif;
}
header {
  background: #F7DF1B;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.content__js-exercises {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 20px;
}

.exercise {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exercise__result {
  display: flex;
  background: #efefef;
  color: black;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
}

h4.ex-3__result-name {
  margin: 0;
}

.ex-3__result, .ex-4__result {
  height: 200px;
  width: 500px;
  justify-content: flex-start;
  gap: 20px;
}

.ex-4__result {
  justify-content: center;
  flex-direction: column;
}

.ex-3__result-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ex-3__result-img {
  height: 100%;
}